* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  width: 100%;
  position: relative;
  padding-top: 10%; /*32px/320*/
  padding-bottom: 26.25%; /*84px/320*/
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0a0e34;
}

.header::after {
  content: "";
  position: absolute;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
  z-index: 1;
}

.header-wrapper {
  position: relative;
  width: 87.5%; /*280px/320*/
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.logo-wrapper {
  width: 47.5%; /*133px/280*/
  margin-left: auto;
  margin-right: auto;
}

.surface-logo-text {
  width: 100%; /*133px/133px*/
  /*height: 27%; /*36px/133px*/
  fill: #ffffff;
}

h1 {
  margin-top: 48.21%; /*135px/280px*/
  font-size: 8.75vmin; /*28/320 or 28px/16px*/
  line-height: 1.2;
  letter-spacing: 0.5px; /*От чего считать? */
  color: #ffffff;
  text-transform: uppercase;

}

.text-align-right {
  display: block;
  margin-left: 15.7%; /*44px/280px*/
  margin-top: 10.7%; /*30/320 or 30px/280px=10.7% надо ли?*/
}

.store-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /*280px*/
  max-width: 100%;
  margin-top: 32.14%; /*90px/280px*/
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%; /*280px/280px*/
  height: 12.5%; /*35px/280px*/
  padding: 2.85% 28.57%; /*8px/280px 80px/280px*/
  background-color: #5e42b0;
  border-radius: 5.6vmin; /*проценты не работают, как правильно перевести? 18/320*/
}

.btn:nth-of-type(n+2) {
  margin-top: 5%; /*14px/280px*/
}

.btn-logo {
  width: 6.87vmin; /*22px/280px=7.85% - неверно, как перевести? 22/320  6.87vmin*/
  fill: #ffffff;
}

.btn-text {
  margin-left: 2.19vmin; /*7px/320px=2.19vmin*/
  font-size: 2.5vmin; /*8px/16px*/
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

/* Main*/
/*Section-1*/
.persons {
  width: 100%;
}

.person-unit {
  padding-top: 6.25%; /*20px/320px*/
}

.person-name {
  margin-bottom: 5.6%; /*18px/320px*/
  padding-left: 6.25%; /*20px/320px*/
  font-size: 15.6vmin; /*50px/320px*/
  line-height: 1.2;
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
}

.person-content {
  width: 100%;
  position: relative;
  padding-top: 87.8%; /*281px/320px=87.8vmin*/
}

.person-content-two {
  padding-top: 77.5%; /*248px/320px*/
}

.person-content::before {
  content: "";
  position: absolute;
  display: block;
  width: 60%; /*192px/320px*/
  height: 87.8%; /*281px/320px*/
  top: 0;
  left: 20%; /*64px*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.person-content-one::before {
  background-image: url("../images/footballer_192.png");
}

.person-content-two::before {
  background-image: url("../images/basketballer_302.png");
  width: 94.3%; /*302px/320px*/
  height: 77.5%; /*248px/320px*/
  top: 0;
  left: 2.8%; /*9px*/
}

.point {
  width: 100%;
  padding-top: 18.75%; /*60px/320px*/
  padding-bottom: 17.18%; /*55px/320px*/
  background-color: #ffffff;
}

.point:nth-of-type(2) {
  background-color: #f5f4f9;
}

.point-light {
  background-color: #5e42b0;
  color: #ffffff;
}

.point-dark {
  background-color: #090c35;
  color: #ffffff;
}

.point-caption {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 6.25%; /*20px/320px*/
  padding-right: 6.25%; /*20px/320px*/
}

.point-number {
  position: relative;
  /*margin-right: vmin; /*12px/320px*/
  margin-right: 12px; /*10px/320px*/
  font-size: 4.37vmin; /*14px/320px*/
  font-weight: bold;
  line-height: 2.4;
  color:#000000;
}

.point-dark .point-number {
  color: #8765dd;
}

.point-number::after,
.point-number-three::after {
  content: "";
  position: absolute;
  /*bottom: 3.25%; /*4px/320px*/
  bottom: -26.75%;
  left: 0;
  width: 100%; /*14px/320px*/
  height: 12.5%; /*4px/320px*/
  border-radius: 20%; /*7px/320px*/
  background-color: #5e42b0;
}

.point-dark .point-number::after,
.point-light .point-number::after {
  background-color: #ffffff;
}

.point-name {
  /*margin-left: 2.5%; /*8px/320px*/
  font-size: 7.19vmin; /*23px/320px*/
  font-weight: bold;
  line-height: 1.5;
  color:#c1c1c1;
}

.point-text {
  margin-top: 6.25%; /*20px/320px*/
  font-size: 4.69vmin; /*15px/320px*/
  line-height: 1.2;
  padding-left: 6.25%; /*20px/320px*/
  padding-right: 6.25%; /*20px/320px*/
}

/*Section-2*/

.picture {
  max-width: 100%;
  height: 109%; /*350px*/
  background-color: #ffffff;
  overflow: hidden;
}


.motivation-image-all {
  max-width: 100%;
  object-fit: cover;
}

.motivation-content {
  position: relative;
  padding: 11.56% 6.25% 23.43%; /*37px 20px 75px /320 */
}

.motivation-content::before {
  content: "01";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 21.88vmin; /*70px/320px*/
  height: 21.88vmin; /*70px/320px*/
  left: 6.25vmin; /*20px/320px*/
  top: -18.13vmin; /*(70px - 12px)   -58px/320px*/
  font-size: 4.38vmin; /*14px/320px*/
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 8.75vmin; /*28px/320px*/
  color: #ffffff;
  background-color: #5e42b0;
}

.motivation-content-second::before {
  content: "02";
}

.motivation-content-third::before {
  content: "03";
}

.motivation-content::after {
  content: "";
  position: absolute;
  top: -3.75vmin; /*-12px/320px*/
  left: 15vmin; /*48px/320px*/
  width: 4.69vmin; /*15px/320px*/
  height: 1.25vmin; /*4px/320px*/
  border-radius: 2.5vmin; /*8px/320px*/
  background-color: #8f7bc8;
}

.motivation-caption {
  font-size: 8.75vmin; /*28px/320px*/
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  color: #e7e7e7
}

.motivation-text {
  margin-top: 7.5%; /*24px/320px*/
  font-size: 5vmin; /*16px/320px*/
  line-height: 1.25;
  color: #000000;
}

.footer {
  width: 100%;
  position: relative;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0a0e34;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0e34;
  opacity: 0.9;
  width: 100%;
}

.footer-container {
  width: 87.5%; /*280px/320px*/
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  padding-top: 31.25%; /*100px/320px*/
  padding-bottom: 3.12%; /*10px/320px*/
  margin-left: auto;
  margin-right: auto;
}

.download-app-logo {
  /*box-sizing: border-box;*/
  width: 22.5%; /*72px/280px*/
  height: 22.5%; /*72px/280px*/
  padding: 4.28% 2.14% ; /*12px 6px /320px 3.75vmin 1.88vmin*/
  margin-left: auto;
  margin-right: auto;
  border-radius: 21%; /*15px/72px  3.75vmin*/
  background-image: linear-gradient(to bottom, #7751db, #5e3db3, #50329c);
}

.surface-logo {
  width: 100%; /*60px/320px 17.5vmin*/
  /*height: 66.7% ; /*48px/320px 15vmin*/
  fill: #ffffff;
}

.footer-cta-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 21.4%; /*60px/320px=18.75vmin*/
  margin-bottom: 27.1%; /*76px/320px*/
}

.download-app-action {
  font-size: 10vmin; /*32px/320px*/
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.download-app-description {
  font-size: 4.38vmin; /*14px/320px*/
  font-weight: bold;
  color: #9b8ec1;
  text-transform: uppercase;
}

.footer .logo-wrapper {
  margin-top: 25%; /*80px/320px*/
}


@media (min-width: 641px) and (max-width: 960px) {
  .header {
    min-width: 641px; /*768px*/
    padding-top: 5.2%; /*40/768px*/
    padding-bottom: 11.7%; /*90/768px*/
    background-image: url("../images/football_1280.jpg");
  }

  .header-wrapper {
    width: 91.5%; /*703/768px*/
    /*max-width: 703px;*/
  }

  .logo-wrapper {
    width: 29%; /*204/703px*/
  }

  .surface-logo-text {
    width: 100%; /*204/204px*/
    height: 25.45%; /*56/204px*/
    fill: #ffffff;
  }

  h1 {
    font-size: 8.33vw; /*64/768px*/
    margin-top: 25.6%; /*180/703pxx*/
    margin-left: 5%; /*35px/703*/
  }

  .text-align-right {
    margin-left: 15.36%; /*108/703px*/
    margin-top: 4.3%; /*30/703px*/
  }

  .store-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /*Проверить*/
  }

  .btn {
    width: 44%; /*310px/703*/
    height: 11%; /*77px/703*/
    padding: 2.3% 5.8% 2.7%; /*16px 41px 19px /703*/
    border-radius: 40px;
  }

  .btn:nth-of-type(n+2) {
    margin-top: 0;
  }

  .btn-logo {
    width: 13%; /*40px/310*/
  }

  .btn-text {
    margin-left: 9%; /*28px/703px*/
    font-size: 1.8vw; /*14px/768*/
  }

  .person-unit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*min-width: 641px;*/
    padding-top: 11.2%; /*86px/768*/
    overflow: hidden;
  }

  .person-name {
    padding-left: 38%; /*292/768px*/
    margin-bottom: 0;
    font-size: 10.4vw; /*80/768*/
  }

  .person-name-two {
    padding-left: 4.3%; /*33/768px*/
  }

  .person-content {
    width: 100%;
    padding-top: 0;
  }

  .person-content::before {
    width: 64.7%; /*497/768px*/
    /*height: 91%; /*699px/768*/
    top: -10%; /*px*/
    left: -21%; /*-168px/768*/
    margin-left: 0;
  }

  .person-content-one::before {
    background-image: url("../images/footballer_497.png");
  }

  .person-content-two::before {
    width: 90%; /*691/768px*/
    /*height: 74vw; /*568/768px*/
    top: -20%; /*px*/
    left: 44%; /*334px/768*/
    background-image: url("../images/basketballer_691.png");
  }

  .point {
    max-width: 100%;
    padding-bottom: 4.9%; /*38/768px*/
    padding-top: 5.2%; /*40/768px*/
  }

  .point-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 38%; /*292/768px*/
    padding-right: 4.3%; /*33/768px*/
  }

  .point-caption-two {
    padding-left: 4.3%; /*33/768px*/
    padding-right: 56.7%; /*436/768px*/
  }

  .point-number {
    font-size: 2.3vw; /*18/768px*/
    line-height: 1.9;
  }

  .point-number::after,
  .point-number-three::after {
    /*top: 88%; /*28px*/
    width: 100%; /*21px*/
    height: 18%; /*4px*/
    border-radius: 25%; /*10px*/
  }

  .point-dark .point-number::after {
    background-color: #ffffff;
  }

  .point-name {
    font-size: 4.2vw; /*32/768px*/
    line-height: 1.1;
  }

  .point-text {
    margin-top: 3.9%;  /*30/768px*/
    font-size: 2.34vw;  /*18/768px*/
    line-height: 1.5;
    padding-left: 38%; /*292px*/
    padding-right: 4.3%; /*33px*/
  }

  .point-text-two {
    padding-left: 4.3%; /*33px*/
    padding-right: 40.4%; /*310px*/
  }

  .motivation-unit {
    min-width: 641px;
    max-width: 100%;
  }
  /*ed*/
  .motivation-image {
    height: 76%; /*584/768*/
    overflow: hidden;
  }

  .picture {
    max-width: 100%;
    height: 76%;
    background-color: #ffffff;
    overflow: hidden;
  }

  .motivation-image-all {
    width: 100%;
    /*min-height: 76%;*/
  }

  .motivation-content {
    padding: 11% 4.3% 9.8%; /*85px 33px 75px/768*/
  }

  .motivation-content::before {
    width: 15.1vw; /*116/768*/
    height: 15.1vw; /*116/768*/
    left: 4.3vw; /*33px/768*/
    top: -10.54vw; /*81px/768*/
    font-size: 3.1vw; /*24px/768*/
    line-height: 1.4;
    padding: 5.5vw; /*42px/768*/
  }

  .motivation-content::after {
    top: -1.17vw; /*-9px/768*/
    left: 10vw; /*77px/768*/
    width: 3.3vw; /*25px/768*/
    height: 0.65vw; /*5px/768*/
  }

  .motivation-caption {
    font-size: 10.42vw; /*80px/768*/
  }

  .motivation-text {
    margin-top: 5.2%; /*40px/768*/
    font-size: 3.12vw; /*24px/768*/
  }

  .footer {
    min-width: 641px;
    max-width: 100%;
    background-image: url("../images/game_1280.jpg");
  }

  .footer-container {
    width: 91.5%; /*703/768px*/
    max-width: 703px;
    padding-top: 16.4%; /*126/768px*/
    padding-bottom: 3%; /*23/768px*/
  }

  .download-app-logo {
    /*box-sizing: border-box;*/
    width: 18.5%; /*130px/703*/
    height: 18.5%; /*130px/703*/
    padding: 3.4% 1.7%; /*24px 12px/768*/
    border-radius: 20px;
  } /*От 703px*/

  .surface-logo {
    width: 100%; /*104px/768*/
    /*height: 11.3vw; /*87px/768*/
  }

  .footer-cta-text {
    margin-top: 11.7%; /*82/703*/
    margin-bottom: 41%; /*288px/703*/
  }

  .download-app-action {
    font-size: 5em; /*80px/768*/
  }

  .download-app-description {
    font-size: 2.25em; /*36px/768*/
  }

  .footer .store-buttons {
    margin-top: 41%; /*288px/768=37.5vw*/
  }

  .footer .logo-wrapper {
    margin-top: 7.8%; /*55px/768=7.16vw*/
  }

}

@media (min-width: 961px) {
  body {
    width: 100%;
    max-width: 1920px;
    min-width: 961px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    padding-top: 2.34%; /*45px/1920*/
    padding-bottom: 5.73%; /*110px/1920*/
    background-image: url("../images/football_1920.jpg");
  }

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 81%; /*1557px/1920*/
    padding-left: 0.6vw; /*12px/1920*/
    padding-right: 0.6vw; /*12px/1920*/

  }

  .logo-wrapper {
    width: 12.2%; /*190px/1557*/
  }

  .surface-logo-text {
    width: 100%; /*190px/190*/
    height: 27.4%; /*52px/190*/
  }

  h1 {
    width: 100%; /*1557px/1557*/
    /*min-width: 1557px;*/
    font-size: 4.7vw; /*90px/1920*/
    letter-spacing: 0.23vw; /*4.5px/1920*/
    margin-top: 18.6%; /*290px/1557*/
    padding-left: 0.7%; /*11px/1557*/
    padding-right: 0.7%; /*11px/1557*/
  }

  .text-align-right {
    display: block;
    margin-left: 29%; /*450px/1557*/
    /*text-align: right;*/
    margin-top: 1.7%; /*27px/1557*/
  }

  .store-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 43.2%; /*672px/1557*/
    margin-top: 14.32%; /*223px/1557*/
  }

  .btn {
    width: 46.1%; /*310px/672*/
    height: 11.5%; /*77px/672*/
    padding: 2% 6%; /*14px 40px 18px/672*/
    border-radius: 4vw; /*px/*/
    justify-content: center;
  }

  .btn:nth-of-type(n+2) {
    margin-top: 0;
  }

  .btn-logo {
    width: 17.66%; /*40на50*/
   }

  .btn-text {
    margin-left: 9.6%; /*30px/1920*/
    font-size: 0.73vw; /*14px/16px От родителя не считается*/
  }

  .person-unit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 6%; /*116px*/
    overflow: hidden;
  }

  .person-name {
    margin-bottom: 2.6%; /*50/1920px*/
    padding-left: 52.5%; /*1008px/1920*/
    font-size: 4.2vw; /*80px/1920*/
  }

  .person-name-two {
    padding-left: 10%; /*192px/1920*/
  }

  .person-content {
    width: 100%;
    padding-top: 0;
  }

  .person-content::before {
    width: 29.5%; /*566px/1920*/
    height: 47.3vw; /*908px/1920*/
    top: -30%; /*-234px/1920  -30%*/
    left: 20%;  /*390/1920*/
    margin-left: 0px;
  }

  .person-content-one::before {
    background-image: url("../images/footballer_566.png");
  }

  .person-content-two::before {
    width: 51.6%; /*991/1920*/
    height: 42.4vw; /*815/1920*/
    top: -10.7vw; /*-206px/1920*/
    left: 42.2vw; /*811/1920px*/
    background-image: url("../images/basketballer_991.png");
  }

  .point {
    max-width: 100%;
    padding-bottom: 2.8%; /*55/1920px*/
    padding-top: 2.8%; /*55/1920px*/
  }

  .point-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 52.5%; /*1008/1920px*/
    padding-right: 10%; /*192/1920px*/
  }

  .point-caption-two {
    padding-left: 10%; /*192/1920px*/
    padding-right: 57.8%; /*1110px/1920px*/
  }

  .point-number {
    font-size: 0.94vw; /*18/1920px*/
  }

  .point-number::after,
  .point-number-three::after {
    top: 1.5vw; /*37px*/
    width: 1vw; /*18px*/
    height: 0.26vw; /*5px*/
    border-radius: 25%; /*9px*/
  }

  .point-name {
    font-size: 1.88vw; /*36px*/
    /*margin-left: 0.73vw; /*14px*/
  }

  .point-text {
    margin-top: 1.56%; /*30px*/
    font-size: 1vw; /*20px*/
    line-height: 1.5;
    padding-left: 52.2%; /*1008px*/
    padding-right: 10%; /*192px*/
  }

  .point-text-two {
    padding-left: 10%; /*192px*/
    padding-right: 50.7%; /*973px*/  }


  .motivation-unit {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: 38vw; /*730/1920*/
  }

  .motivation-image {
    width: 50%;
    height: 38vw; /*730/1920*/
    overflow: hidden;
  }

  .picture {
    max-width: 100%;
    /*height: 38vmin;*/
  }

  .motivation-image-all {
    min-width: 960px;/*960px*/
    max-width: 100%;
    height: 100%;
    min-height: 38vw;
    object-fit: cover;
  }

  .motivation-image-second {
    order: 1;
  }

  .motivation-content {
    box-sizing: border-box;
    width: 50%;
    padding: 13.5% 10.2% 12.5% 6.7%; /*260px 196px 240px 128px/1920*/
  }

  .motivation-content::before,
  .motivation-content-second::before {
    content: "01";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8.75vw; /*168/2*/
    height: 8.75vw; /*168/2*/
    left: -4.4vw; /*168/2*/
    top: 14.6vw; /*50%height-168/2*/
    font-size: 1.25vw; /*24/2*/
    padding: 3.1vw 3.6vw 3.9vw; /*60px 70px 75px*/
  }

  .motivation-content-second::before {
    content: "02";
    left: 45.6vw; /*876px  91.5%  */
  }

  .motivation-content-third::before {
    content: "03";
  }

  .motivation-content::after,
  .motivation-content-second::after {
    content: "";
    position: absolute;
    top: 19.4vw; /*876px*/
    left: -0.62vw; /*12px*/
    width: 1.25vw; /*24px*/
    height: 0.2vw; /*4px*/
    border-radius: 0.5vw; /*10px*/
    background-color: #8f7bc8;
  }

  .motivation-content-second::after {
    left: 49.4vw; /*960-12  98.5%  */
  }

  .motivation-caption {
    font-size: 4.2vw; /*80*/
  }

  .motivation-text {
    margin-top: 4vw; /*80px*/
    font-size: 1.25vw; /*80px*/
    line-height: 1.2;
  }

  .footer {
    width: 100%;
    max-width: 100%;
    background-image: url("../images/game_1920.jpg");
  }

  .footer-container {
    width: 81%; /*1557px*/
    max-width: 1557px; /*1557px*/
    padding-top: 12%; /*230px*/
    padding-bottom: 2.6%; /*50px*/
  }

  .download-app-logo {
    box-sizing: border-box;
    width: 8.3%; /*130px*/
    height: 8.3%; /*130px*/
    padding: 1.5% 0.8%; /*24px 12px*/
    border-radius: 12%;  /*16px*/
  }

  .surface-logo {
    width: 100%; /*104/130px*/
    /*height: 4.5vw; /*87px*/
  }

  .footer-cta-text {
    margin-top: 9.6%;  /*150px*/
    margin-bottom: 16.7%;  /*260px*/
  }

  .download-app-action {
    font-size: 4.2vw; /*80px*/
  }

  .download-app-description {
    font-size: 1.56vw; /*30px*/
  }

  .footer .logo-wrapper {
    margin-top: 16.7%; /*260px*/
  }

}
