* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  max-width: 100%;
  position: relative;
  padding-top: 33px;
  padding-bottom: 84px;
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0a0e34;
}

.header::after {
  content: "";
  position: absolute;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
  z-index: 1;
}

.header-wrapper {
  position: relative;
  width: 280px;
  max-width: 100%;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.logo-wrapper {
  width: 133px;
  margin-left: auto;
  margin-right: auto;
}

.surface-logo-text {
  width: 133px;
  height: 36px;
  fill: #ffffff;
}

h1 {
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 135px;
}

.text-align-right {
  display: block;
  margin-left: 44px;
  margin-top: 30px;
}

.store-buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 90px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  height: 35px;
  padding: 8px 80px;
  background-color: #5e42b0;
  border-radius: 18px;
}

.btn:nth-of-type(n+2) {
  margin-top: 14px;
}

.btn-logo {
  width: 22px;
  fill: #ffffff;
}

.btn-text {
  margin-left: 7px;
  font-size: 8px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

/* Main*/
/*Section-1*/

.persons {
  max-width: 100%;
}

.person-unit {
  padding-top: 20px;
}

.person-name {
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 50px;
  line-height: 1.2;
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
}

.person-content {
  max-width: 100%;
  position: relative;
  padding-top: 281px;
}

.person-content::before {
  content: "";
  position: absolute;
  display: block;
  width: 280px;
  height: 281px;
  top: 0;
  left: 50%;
  margin-left: -140px;
  /*left: calc(50%-280px/2);*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.person-content-one::before {
  background-image: url("../images/footballer_192.png");
}

.person-content-two::before {
  background-image: url("../images/basketballer_302.png");
}

.point {
  max-width: 100%;
  padding-bottom: 50px;
  background-color: #ffffff;
  padding-top: 50px;
}

.point:nth-of-type(2) {
  background-color: #f5f4f9;
}

.point-light {
  background-color: #5e42b0;
  color: #ffffff;
}

.point-dark {
  background-color: #090c35;
  color: #ffffff;
}

.point-caption {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.point-number {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.4;
  color:#000000;
}

.point-dark .point-number {
  color: #8765dd;
}

.point-number::after, .point-number-three::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 15px;
  height: 4px;
  border-radius: 15px;
  background-color: #5e42b0;
}

.point-number-three::after {
  background-color: #ffffff;
}

.point-name {
  margin-left: 8px;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.5;
  color:#c1c1c1;
}

.point-text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 20px;
}

/*Section-2*/
.motivation-unit {
  max-width: 100%;
}

.motivation-image {
  max-width: 100%;
  position: relative;
  background-color: #ffffff;
}

.motivation-image-all {
  max-width: 100%;
}

.motivation-image::before {
  content: "01";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 20px;
  bottom: -7px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 28px;
  color: #ffffff;
  background-color: #5e42b0;
}

.motivation-image-second::before {
  content: "02";
}

.motivation-image-third::before {
  content: "03";
}

.motivation-image::after {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 47px;
  width: 15px;
  height: 4px;
  border-radius: 10px;
  background-color: #8f7bc8;
}

.motivation-content {
  padding: 37px 20px 75px;
}

.motivation-caption {
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  color: #e7e7e7
}

.motivation-text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}

.footer {
  max-width: 100%;
  position: relative;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0a0e34;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0e34;
  opacity: 0.9;
  max-width: 100%;
}

.footer-container {
  width: 280px;
  box-sizing: border-box;
  min-width: 280px;
  position: relative;
  z-index: 5;
  padding-top: 100px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.download-app-logo {
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  padding: 12px 6px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #7751db, #5e3db3, #50329c);
}

.surface-logo {
  width: 56px;
  height: 48px;
  fill: #ffffff;
  text-align: center;
}

.footer-cta-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 76px;
}

.download-app-action {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.download-app-description {
  font-size: 14px;
  font-weight: bold;
  color: #9b8ec1;
  text-transform: uppercase;
}

.footer .logo-wrapper {
  margin-top: 80px;
}


@media (min-width: 641px) and (max-width: 960px) {


  .header {
    min-width: 768px;
    padding-top: 40px;
    padding-bottom: 90px;
    background-image: url("../images/football_1280.jpg");
  }

  .header-wrapper {
    width: 90%; /*703px*/
    max-width: 703px;
  }

  .logo-wrapper {
    width: 204px;
    margin-left: auto;
    margin-right: auto;
  }

  .surface-logo-text {
    width: 204px;
    height: 56px;
    fill: #ffffff;
  }

  h1 {
    font-size: 64px;
    margin-top: 180px;
    margin-left: 5%; /*35px*/
  } /* Проценты рассчитаны от ширины родительского контейнера .header-wrapper (width: 703px)*/

  .text-align-right {
    margin-left: 15.4%; /*108px*/
    margin-top: 30px;
  }

  .store-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .btn {
    width: 44%; /*310px*/
    height: 11%; /*77px*/
    padding: 2.3% 5.8% 2.7%; /*16px 41px 19px*/
    border-radius: 40px;
  }

  .btn:nth-of-type(n+2) {
    margin-top: 0px;
  }


  .btn-logo {
    width: 13%; /*40px*/
    fill: #ffffff;
  }  /* Проценты рассчитаны от ширины родителя .btn (width: 310px)*/

  .btn-text {
    margin-left: 9%; /*28px*/
    font-size: 14px;
  }

  .person-unit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 768px;
    padding-top: 86px; /*86px*/
    overflow: hidden;
  }  /* Проценты рассчитаны от ширины width: 768px)*/

  .person-name {
    padding-left: 38%; /*292px*/
    font-size: 80px;
  }

  .person-name-two {
    padding-left: 4%; /*31px*/
  }

  .person-content {
    width: 100%;
    padding-top: 0px;
  }

  .person-content::before {
    width: 496px; /*496px*/
    height: 699px; /*699px*/
    top: -15%; /*px*/
    left: -168px;
    margin-left: 0px;
  }

  .person-content-one::before {
    background-image: url("../images/footballer_497.png");
  }

  .person-content-two::before {
    width: 691px; /*436px*/
    height: 568px; /*565px*/
    top: -20%; /*px*/
    left: 331px; /*331px*/
    background-image: url("../images/basketballer_691.png");
  }

  .point {
    max-width: 100%;
    padding-bottom: 36px;
    padding-top: 40px;
  }

  .point-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 38%; /*292px*/
    padding-right: 4%; /*31px*/
  }

  .point-caption-two {
    padding-left: 4%; /*31px*/
    padding-right: 40%; /*31px*/
  }

  .point-number {
    font-size: 18px;
    line-height: 1.9;
    font-weight: bold;
  }

  .point-number::after, .point-number-three::after {
    top: 28px;
    width: 21px;
    height: 4px;
    border-radius: 15px;
  }

  .point-name {
    font-size: 32px;
    line-height: 1.1;
  }

  .point-text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    padding-left: 38%; /*292px*/
    padding-right: 4%; /*31px*/
  }

  .point-text-two {
    padding-left: 4%; /*31px*/
    padding-right: 40%; /*310px*/
  }

  .motivation-unit {
    min-width: 768px;
    max-width: 100%;
  }

  .motivation-image {
    width: 100%;
  }

  .motivation-image::before {
    width: 116px;
    height: 116px;
    left: 31px;
    bottom: -30px;
    font-size: 24px;
    line-height: 1.4;
    padding: 42px;
  }

  .motivation-image::after {
    bottom: 10px;
    left: 74px;
    width: 25px;
    height: 5px;
  }

  .motivation-content {
    padding: 85px 20px 75px;
  }

  .motivation-caption {
    font-size: 80px;
  }

  .motivation-text {
    margin-top: 40px;
    font-size: 24px;
  }

  .footer {
    min-width: 768px;
    max-width: 100%;
    background-image: url("../images/game_1280.jpg");
  }

  .footer-container {
    width: 90%; /*703px*/
    max-width: 703px;
    padding-top: 126px;
    padding-bottom: 23px;
  }

  .download-app-logo {
    box-sizing: border-box;
    width: 18%; /*130px*/
    height: 18%; /*130px*/
    padding: 3.4% 1.7%; /*24px 12px*/
    border-radius: 20px;
  } /*От 703px*/

  .surface-logo {
    width: 80%; /*104px*/
    height: 67%; /*87px*/
  } /*От 130px*/

  .footer-cta-text {
    margin-top: 82px;
    margin-bottom: 288px;
  }

  .download-app-action {
    font-size: 80px; /*80px*/
  }

  .download-app-description {
    font-size: 36px;
  }

  .footer .logo-wrapper {
    margin-top: 55px;
  }

}

@media (min-width: 961px) and (max-width: 1920px) {
  .header {
    min-width: 1920px;
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 110px;
    background-image: url("../images/football_1920.jpg");
  }

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1557px;
    min-width: 1557px;
    padding-left: 12px;
    padding-right: 12px;

  }

  .logo-wrapper {
    width: 190px;
  }

  .surface-logo-text {
    width: 190px;
    height: 52px;
  }

  h1 {
    width: 1557px;
    font-size: 90px;
    letter-spacing: 4.5px;
    margin-top: 310px;
  }

  .text-align-right {
    display: block;
    margin-left: 450px;
    text-align: right;
  }

  .store-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 223px;
  }

  .btn {
    width: 310px;
    height: 77px;
    padding: 11px 40px 18px;
    border-radius: 40px;
  }

  .btn:nth-of-type(n+2) {
    margin-top: 0;
  }

  .btn-logo {
    width: 40px;
    height: 50px;
   }

  .btn-text {
    margin-left: 30px;
    font-size: 14px;
  }

  .person-unit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 1920px;
    padding-top: 116px; /*116px*/
    overflow: hidden;
  }  /* Проценты рассчитаны от ширины width: 768px)*/

  .person-name {
    padding-left: 1008px; /*292px*/
    font-size: 80px;
  }

  .person-name-two {
    padding-left: 192px; /*192px*/
  }

  .person-content {
    width: 100%;
    padding-top: 0px;
  }

  .person-content::before {
    width: 566px; /*566px*/
    height: 908px; /*908px*/
    top: -30%; /*px*/
    left: 393px;
    margin-left: 0px;
  }

  .person-content-one::before {
    background-image: url("../images/footballer_566.png");
  }

  .person-content-two::before {
    width: 991px; /*436px*/
    height: 815px; /*565px*/
    top: -30%; /*px*/
    left: 744px; /*331px*/
    background-image: url("../images/basketballer_991.png");
  }

  .point {
    max-width: 100%;
    padding-bottom: 54px;
    padding-top: 40px;
  }

  .point-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 1008px; /*1008px*/
    padding-right: 192px; /*192px*/
  }

  .point-caption-two {
    padding-left: 192px; /*192px*/
    padding-right: 973px; /*973px*/
  }

  .point-number {
    font-size: 18px;
  }

  .point-number::after, .point-number-three::after {
    top: 37px;
    width: 18px;
    height: 5px;
    border-radius: 15px;
  }

  .point-name {
    font-size: 36px;
    margin-left: 14px;
  }

  .point-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 1008px; /*192px*/
    padding-right: 192px; /*973px*/
  }

  .point-text-two {
    padding-left: 192px; /*192px*/
    padding-right: 973px; /*973px*/  }


  .motivation-unit {
    display: flex;
    flex-wrap: wrap;
    min-width: 1920px;
    max-width: 100%;
    height: 730px;
  }

  .motivation-image {
    width: 50%;
    height: 730px;
    overflow: hidden;
  }

  .motivation-image-all {
    width: auto;
    height: 730px;
    max-width: none;
  }

  .motivation-image-second {
    order: 1;
  }

  .motivation-image::before {
    /*content: "01";
    display: block;
    box-sizing: border-box;
    position: absolute; */
    width: 168px;
    height: 168px;
    left: 876px; /*50%width-168/2*/
    bottom: 281px; /*50%height-168/2*/
    font-size: 24px;
    padding: 60px 70px 75px;
  }

/*  .motivation-image-second::before {
    content: "02";
  }

  .motivation-image-third::before {
    content: "03";
  } */

  .motivation-image::after {
    content: "";
    position: absolute;
    bottom: 68px;
    left: 90px;
    width: 24px;
    height: 4px;
    border-radius: 10px;
    background-color: #8f7bc8;
  }

  .motivation-content {
    box-sizing: border-box;
    width: 50%;
    padding: 260px 196px 240px 128px;
  }

  .motivation-caption {
    font-size: 80px;
  }

  .motivation-text {
    margin-top: 76px;
    font-size: 24px;
    line-height: 1.2;
  }



}
