body {
  margin: 0;
  padding: 0;
  font-family: font-family: 'Open Sans', sans-serif;
}

.header-main {
  position: relative;
  background-image: url("img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a0e34;
}

.header-main::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  z-index: 3;
}

.surfase-logo-text {
  width: 133px;
  height: 36px;
  fill: #ffffff;
}
